#game-header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid grey;
    height: fit-content;
}

.modal-content {
    display: flexbox;
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: max-content;
    text-align: center;
    line-height: 2;
    justify-content: space-around;
}

.how-modal-content {
    background-color: #ffffff;
    margin: 10% auto;
    padding: 20px;
    border: 1.5px solid #888;
    width: 50%;
    height: max-content;
    text-align: center;
    line-height: 1.4;
}

* {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
}

.modal,
#modal,
.how-modal {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
}


#how {
    position: fixed;
    right: 2%;
    top: 3%;
    font-weight: bolder;
    margin: 0;
}

main #how {
    margin-top: 1%;
    position: unset;
}

.how-modal-content>h4 {
    color: #F25050;
    border-bottom: 1px outset #3a3a3a;
    margin: 10px;
    padding: 15px;
}

.how-modal-content>ul {
    color: #3a3a3a;
    text-align: justify;
    margin: 5%;
    line-height: 2;
}

.how-modal-content>ul>li {
    margin-bottom: 3%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


main {
    display: inline-flexbox;
    text-align: center;
    line-height: 4;
    align-content: center;
    width: 100%;
    height: auto;
    margin-top: 5%;
}

#muted {
    width: 5.5%;
    position: relative;
    left: 1.5%;
    top: 10px;
    cursor: pointer;
}

#game-logo {
    width: 230px;
    cursor: pointer;
}

#board-game {
    line-height: 1.5;
    margin-top: 2%;
}

#board {
    display: inline-grid;
    grid-template-columns: 125px 125px 125px;
    grid-template-rows: 125px 125px 125px;
    grid-gap: 4%;
    justify-content: center;
    align-content: center;
}


img {
    width: 30%;
    height: 30%;
}

.logo-img {
    margin-top: 2%;
    width: 30%;
    height: auto;
}

#board>div {
    display: flex;
    background: #EDEEEE;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 8px #BFBFBF;
}

#board>div:hover {
    background: #D4D4D4;
}

#restart {
    position: absolute;
    bottom: 2%;
    left: 46%;
}

.btn-group {
    display: flex;
    justify-content: center;
}

.btn-group button {
    font-size: 12px;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    padding: 8px 24px;
    float: left;
    outline: none;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 1%;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-radius: 3px 0 0 3px;
    border-right: none;
}

button:hover {
    color: #ffffff;
    background-color: #3a3a3a;
}

button {
    font-size: 12px;
    cursor: pointer;
    border: 1px outset #3a3a3a;
    box-shadow: 2px 2px #3a3a3a;
    border-radius: 3px;
    padding: 8px 24px;
    margin: 4px;
    margin-top: 30px;
    outline: none;
}

input {
    padding: 6px 15px;
    border-radius: 3px;
    box-sizing: content-box;
}

.invalid {
    outline-style: auto;
    outline-color: hsl(0, 76%, 50%);
    ;
    outline-width: thick;
}

.invalid:focus {
    outline-color: #4D90FE;
}

#turn {
    text-transform: capitalize;
}

#aside-p1 {
    position: absolute;
    top: 30%;
    left: 10%;
    text-align: justify;
    float: inline-start;
}

#p1 {
    text-align: center;
    border-bottom: 1px outset black;
    line-height: 2;
    color: #88C9F2;
}

#p2 {
    text-align: center;
    border-bottom: 1px outset black;
    line-height: 2;
    color: #F25050;
}

#aside-p2 {
    position: absolute;
    top: 30%;
    right: 10%;
    text-align: justify;
}

#p1::after,
#p2::after {
    clear: both;
}

#score {
    text-transform: capitalize;
}

#block {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: transparent;
}

@media screen and (max-device-width: 420px) {

    .logo-img {
        width: 50%;
        margin-bottom: 3%;
    }

    main {
        font-size: smaller;
    }


    button {
        width: auto;
        height: auto;
    }

    input {
        width: auto;
        padding: 1%;
    }

    #game-header #how {
        display: none;
    }

    #game-header {
        width: 100%;
    }

    #board>div {
        width: 100%;
        height: 100%;
    }

    img {
        width: 25%;
        height: 25%;
    }

    .how-modal-content {
        padding: 3%;
        width: 90%;
        font-size: 10px;
    }

    .how-modal-content>ul {
        padding: 4%;
    }

    .modal-content {
        padding: 5%;
        line-height: 0.5;
    }

    #board {
        margin-top: 20%;
        grid-template-columns: 90px 90px 90px;
        grid-template-rows: 90px 90px 90px;
        grid-gap: 5%;
    }

    #restart button {
        padding: 10px;
    }

    #aside-p1,
    #aside-p2 {
        top: 18%;
        line-height: 0;
    }

    #aside-p1 h3,
    #aside-p2 h3 {
        font-size: 10px;
        display: inline;
    }

}